* {
    box-sizing: border-box;
  }

body {
    background-color:#08619c;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color:black;
    color: #ffffff;
    margin-bottom: 30px;
    border: #ffffff solid 3px;
    border-radius: 25px;
}

.header h2 {
    display: inline-block; 
    margin-top: 40px;
    font-size: 30px;
}

.navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
    margin: 20px;
}

a {
    color: rgb(255, 238, 0);
    text-decoration: none;
}

.main-title {
    display: flex;
    position: relative;
    text-align: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.message {
    position: absolute;
    z-index: 1;
    top: 40%;
    bottom: 10%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: rgb(255, 238, 0);
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 5px 20px black;
}

.back-image {
    border: #ffffff solid 3px;
    border-radius: 25px;
    object-fit: cover;
    opacity: 90%;
    margin-bottom: 30px
}

.about-me {
    display: flex;
    flex-direction: column;
    border: #ffffff solid 3px;
    padding: 20px;
}

.about-me section {
    border: #ffffff solid 3px;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    margin-bottom: 30px;
}

