* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}  

body {  
    background-color: #000000 !important;
    font-family:'Courier New', Courier, monospace;
}

#menu-text {
    color: #ffffff;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

#top-bar {
    background-image: linear-gradient(rgba(64, 179, 64, 0.493), green);

}

#menu {
    background-color: transparent; 
}

.main-title {
    background: url(../images/matrix-code-animation-gif-free-animated-background.gif) 50% no-repeat;
    background-size: cover;
    height: 50vh;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main-title-text {
    color: #ffffff;
}

.about-me {
    padding: 20px;
}

#about-me-title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    border: solid #ffffff 2px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(64, 179, 64, 0.493), green);
}

.messages {
    background-image: url(../images/retro-80s-background-lovely-resource-horizontal-scrolling-80s-retro-neon-grid-1080p-of-the-day-of-retro-80s-background.jpg);
    background-size: 600px 300px;
    opacity: 80%;
    border: #ffffff solid 3px;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    height: auto;
    margin-bottom: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

#about-me-sections {
    font-size: 25px;
}

#about-me-callouts {
    color: #ffffff;
    border-radius: 20px;
    background-image: repeating-linear-gradient(45deg, rgba(226, 226, 226,0.06) 0px, rgba(226, 226, 226,0.06) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all .1s ease-in-out;
}

#about-me-callouts:hover {
    box-shadow: 0 0 3pt 2pt #ffffff;
    transform: scale(1.02);
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#projects-title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    border: solid #ffffff 2px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(64, 179, 64, 0.493), green);
}

#project-callout {
    color: #ffffff;
    border-radius: 20px;
    background-image: repeating-linear-gradient(45deg, rgba(226, 226, 226,0.06) 0px, rgba(226, 226, 226,0.06) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all .1s ease-in-out;
}

#project-callout:hover {
    box-shadow: 0 0 3pt 2pt #ffffff;
    transform: scale(1.02);
}

#gtr {
    border-radius: 25px;
    margin-bottom: 30px;
    border: solid #ffffff 3px;
}

#contact-title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    border: solid #ffffff 2px;
    border-radius: 30px;
    background-image: linear-gradient(rgba(64, 179, 64, 0.493), green);
    margin-left: 20px;
    margin-right: 20px;
}

#contact-section {
    color: #ffffff;
    border-radius: 20px;
    background-image: repeating-linear-gradient(45deg, rgba(226, 226, 226,0.06) 0px, rgba(226, 226, 226,0.06) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
    margin: 20px;
}

@media screen and (max-width: 39.9375em) {
    #list {
        width: 100%
    }
    
    #gtr {
        width: 100%;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #gtr {
        width: 80%
    }
}

@media screen and (min-width: 64em) {
    #list {
        width: 100%
    }
    
    #gtr {
        width: 70%;
    }
}