* {
    box-sizing: border-box;
  }

body {
    background-color: #000;    
    background-image: url(../images/matrix-code-animation-gif-free-animated-background.gif);
    background-repeat: repeat;
    background-size: 100%;
    font-family:'Courier New', Courier, monospace;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-image:linear-gradient(lime, green);
    color: #ffffff;
    margin-bottom: 30px;
    border: #ffffff solid 3px;
    border-radius: 25px;
}

.header h2 {
    display: inline-block; 
    margin-top: 40px;
    font-size: 30px;
}

.navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.main-title {
    display: flex;
    position: relative;
    text-align: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.message {
    position: absolute;
    z-index: 1;
    top: 40%;
    bottom: 10%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 5px 20px black;
}

.back-image {
    border: #ffffff solid 3px;
    border-radius: 25px;
    object-position: center;
    opacity: 90%;
}

.about-me {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#about-me-title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    border: solid #ffffff 3px;
    border-radius: 25px;
    background-image: linear-gradient(lime, green);
}

.messages {
    background-image: url(../images/retro-80s-background-lovely-resource-horizontal-scrolling-80s-retro-neon-grid-1080p-of-the-day-of-retro-80s-background.jpg);
    background-size: 600px 300px;
    opacity: 80%;
    border: #ffffff solid 3px;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    margin-bottom: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

#about-me-sections {
    font-size: 25px;
}

#right {
    align-self: flex-end;
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#projects-title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    border: solid #ffffff 3px;
    border-radius: 25px;
    background-image: linear-gradient(lime, green);
}

.project-sections {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: auto;
    margin-bottom: 30px;
    border: solid #ffffff 3px;
    border-radius: 25px;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
}

.project-sections h3 {
    text-align: center;
}

/* .pic-n-text {
    display: flex;
    flex-direction: column;
} */

#gtr {
    display: flex;
    align-self: center;
    border-radius: 25px;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    border: solid #ffffff 3px;
}